body {
    background-color: blue;
}

#container1 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: flex-start;
}

#container2 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: flex-end;
}

#container3 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
}

#container4 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: stretch;
}

#container5 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: baseline;
    }

.first {
    background-color: red;
}

.second {
    background-color: yellow;
}

.third {
    background-color: purple;
}

.block {
    border: 1px solid black;
    margin: 10px;
    height: 29%;
    text-align: center;
}

