body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    height: 2em;
    background-color: greenyellow;
    border: 1px solid green;
    color: darkgreen;
    width: 99%;
    height: ;
}

input[type=submit] {
    height: 4em;
    background-color: red;
}